<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Utilisateurs</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
        h1{
            text-align: center;
        }
        .supprime{
            /* background-color: red; */
            /* color: aliceblue; */
        }
        .btn-primary{
            margin: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Liste des utilisateurs</h1>
    
   
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.nom %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                        <form action="/delete-user" method="POST">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <button  class="btn btn-danger" type="submit">Blocker</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
